*.a
*.bak
*.bsc
*.cache
*.dll
*.exp
*.idb
*.ilk
*.intermediate.manifest
*.lastbuildstate
*.lib
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.pdb
*.plg
*.res
*.sbr
*.sdf
*.so
*.so.*
*.suo
*.tlog
*.vcxproj.user
*~
Makefile.in
/ABOUT-NLS
/aclocal.m4
/config.h.in
/Makefile
/dist
/tmp-build
